.hero-unit
  %h1 Twiki
  %p Twiki is a freemium wiki site where you can create awesome wikis to share with your friends.
  %p
    = link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large'
    or
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large'
    today!

.row-fluid
  .span4
    %h2 Create Wikis
    %p Create wikis with friends, family, or coworkers to store knowledge in a fun, accessible way!
  .span4
    %h2 Markdown Formatting
    %p Write your wikis in Markdown format, and see them rendered in real time!
  .span4
    %h2 Private Wikis
    %p Upgrade to a premium account and you can create private wikis, accessible only to people you choose!