%h2.text-center Twiki: Social, Markdown Wikis

.row-fluid
  .hero-unit.span8.offset2
    .row-fluid.span8.offset2
      %h4 Create and share Markdown Wikis
    .row-fluid.span4.offset4
      %p
      = link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-block'

.row-fluid
  .span4.offset2
    %h3 Create as many public wikis as you want!
    %img
    %p.text-center Free Plan
  .span4
    %h3 Create private wikis!
    %img
    %p.text-center Premium Plan