%h1 New Wiki
.row
  .span6
  %p Guidelines for new wikis:
  %ul
    %li Make sure content is appropriate
    %li Wikis must have unique names, so first check if your wiki already exists.
    %li Wikis created under free accounts are public. For private wikis, upgrade to a #{link_to "premium account", upgrade_path}.
